@import '@/styles/abstracts/2023/variables.scss';

.container {
  width: 100%;
}

.button {
  width: 100%;
  display: flex;
  padding: $space-s 0;
  border: none;
  background-color: transparent;
  border-bottom: 2px $main-color solid;
  text-align: start;
  cursor: pointer;

  & h3 {
    font-size: $header-xs;
    color: $main-color;
  }
}

.icon {
  align-self: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: $space-m;
  color: $main-color;
}

.iconDown {
  transform: rotate(90deg);
}

.content {
  padding: $space-m $space-s $space-l $space-s;
  & p {
    font-size: $font-l;
  }
}

@media only screen and (max-width: $bp-mobile) {
  .button {
    & h3 {
      font-size: $font-m;
    }
  }

  .content {
    & p {
      font-size: $font-s;
    }
  }
}
