@import '@/styles/abstracts/2023/variables.scss';

.countdown {
  margin: $space-h auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-m;

  h3 {
    text-align: center;
    font-size: $header-m;
  }
}

@media only screen and (max-width: $bp-mobile) {
  .countdown {
    margin: $space-l auto;

    h3 {
      font-size: $header-m;
    }
  }
}
