@import '@/styles/abstracts/2023/variables.scss';

#topic {
  .carousel-root {
    width: calc(100vw - 48rem);
    filter: grayscale(1);
    height: 100%;

    .control-arrow::before {
      border-top-width: 16px !important;
      border-bottom-width: 16px !important;
    }

    .control-prev::before {
      border-right-width: 16px !important;
    }

    .control-next::before {
      border-left-width: 16px !important;
    }
  }

  .slider-wrapper {
    height: 100%;
  }

  .slider.animated {
    height: 100%;
  }

  .carousel {
    height: 100%;
  }

  .carousel-status {
    display: none;
  }

  .control-arrow {
    width: 20%;
  }

  .dot {
    box-shadow: none;
  }

  .slider-content {
    padding: $space-m $space-xl $space-l $space-xl;

    h2 {
      padding-bottom: $space-s;
      font-size: $header-s;
      text-align: center;
    }

    p {
      font-size: $font-m;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 800px) {
  #topic {
    .carousel-root {
      width: 100%;
      height: 100%;
    }

    .control-dots {
      display: none;
    }
  }
}

@media only screen and (min-width: 800px) {
  #topic {
    .carousel-root {
      position: absolute;
      top: 1.1rem;
      left: 0;
      right: 0;
      width: 100%;
    }

    .control-next {
      width: 30%;

      &::before {
        transform: translateX(6.4rem);
      }
    }

    .control-prev {
      width: calc(30% + 35.2rem);

      &::before {
        transform: translateX(6.4rem);
      }
    }
  }
}
