//------------ COLOR VARIABLES - 2023 --------------//

$main-color: #1eca94;
$background-color-1: black;
$background-color-2: #262626;
$text-color-1: white;
$text-color-2: #1eca94;
$text-color-3: black;

//------------ HEXAGON VARIABLES --------------//

$hexagon-bigger: 9rem;
$hexagon-big: 6.5rem;
$hexagon-normal: 5rem;
$hexagon-small: 4rem;
$hexagon-smaller: 3rem;

//------------ FONT VARIABLES --------------//

$font-s: 1.4rem; // 14px
$font-m: 1.6rem; // 16px
$font-l: 1.8rem; // 18px
$font-xl: 2rem; // 20px
$font-xxl: 2.4rem; // 24px

$header-xs: 2rem; // 20px
$header-s: 2.4rem; // 24px
$header-m: 2.8rem; // 28px
$header-l: 3.2rem; // 32px
$header-xl: 3.6rem; // 36px
$header-xxl: 4rem; // 40px

//------------ RESPONSIVE BREAKPOINTS --------------//

$bp-140: 87.5em; // 1400px
$bp-110: 68.75em; // 1100px
$bp-100: 62.5em; // 1000px
$bp-80: 50em; // 800px;
$bp-70: 43.75em; // 700px;
$bp-60: 37.5em; // 600px;

//------------ BORDER RADIUS --------------//

$radius-s: 0.4rem; //4px
$radius-m: 0.8rem; //8px
$radius-l: 1.2rem; //12px
$radius-xl: 1.6rem; //16px
$radius-h: 2.4rem; //24px
$radius-xh: 4.8rem; //48px

//------------ SPACE VARIABLES --------------//

$space-xs: 0.4rem; // 4px
$space-s: 0.8rem; // 8px
$space-m: 1.6rem; // 16px
$space-l: 2.4rem; // 24px
$space-xl: 3.2rem; // 32px
$space-h: 6.4rem; // 64px
$space-xh: 12.4rem; // 124px

//-------------------------------------------//
