.button {
  margin: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
    color: gray;
  }

  &:hover {
    svg {
      color: white;
    }
  }
}

.active {
  svg {
    color: white;
  }
}

@media only screen and (max-width: 630px) {
  .button {
    svg {
      width: 12px;
      height: 12px;
    }
  }
}
