@import '@/styles/abstracts/2023/variables.scss';

.slide {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: calc(50% + 210px);
  transform: translate(-50%, -50%);
  width: auto;
  padding: $space-l $space-xl;
  background-color: rgba($color-black, 0.7);

  h2 {
    margin-bottom: $space-m;
    text-align: center;
    font-size: $font-xl;
  }

  p {
    width: 48ch;
    font-size: $font-m;
  }
}

@media only screen and (max-width: $bp-desktop) {
  .slide {
    bottom: 10%;
    left: 50%;
    transform: unset;
    height: fit-content;
    transform: translate(-50%, 25%);
  }
}

@media only screen and (max-width: $bp-mobile) {
  .slide {
    transform: translate(-50%, 10%);
    width: 100%;
    padding: $space-m $space-l;
    p {
      width: 100%;
      max-width: 48ch;
      margin: 0 auto;
      font-size: $font-s;
    }
  }
}
