@import '@/styles/abstracts/2023/variables.scss';

.section {
  position: relative;
  width: 100%;
  height: 720px;
  margin: $space-h 0;
  display: flex;
  flex-direction: column;
}

.info {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 420px;
  height: 420px;
  display: flex;

  &Bcg {
    width: 100%;
    height: 100%;
  }

  &Text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 340px;
    height: 320px;
    padding-left: $space-m;

    h2 {
      font-size: $header-m;
      margin-bottom: $space-m;
    }
  }
}

.sliderDots {
  left: calc(50% + 210px);
}

.prevSlideButton {
  left: calc(5% + 420px);
}

@media only screen and (max-width: $bp-desktop) {
  .section {
    height: 800px;
  }

  .info {
    top: 22%;
    width: 320px;
    height: 320px;

    &Text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 264px;
      height: 300px;
      padding-left: $space-s;

      h2 {
        font-size: $header-s;
        margin: $space-s 0;
      }

      p {
        font-size: $font-s;
      }
    }
  }

  .nextSlideButton {
    top: 75%;
    left: 95%;
  }

  .prevSlideButton {
    top: 75%;
    left: 5%;
  }

  .sliderDots {
    left: 50%;
  }
}

@media only screen and (max-width: $bp-mobile) {
  .section {
    height: 900px;
  }

  .nextSlideButton {
    top: 95%;
    left: 90%;
    height: unset;
    background-color: unset;
  }

  .prevSlideButton {
    top: 95%;
    left: 10%;
    height: unset;
    background-color: unset;
  }
}
